<p>
  <b><%= CreaturePhoto.human_attribute_name :creature %>:</b>
  <%= creature_photo.creature.name %>
</p>

<p>
  <b><%= CreaturePhoto.human_attribute_name :content_type %>:</b>
  <%= creature_photo.content_type %>
</p>

<p>
  <b><%= CreaturePhoto.human_attribute_name :file_name %>:</b>
  <%= creature_photo.file_name %>
</p>

<p>
  <b><%= CreaturePhoto.human_attribute_name :file_size %>:</b>
  <%= creature_photo.file_size %>
</p>

<p>
  <%= image_tag(creature_photo.source.url) if creature_photo.source? %>
</p>
