<%= f.error_notification %>

<div class="form-inputs">
  <%= f.association :creature %>
  <%= f.input :source, required: false %>
  <%= f.input :source_cache, as: :hidden %>
  <%= f.input :remove_source do
    f.check_box :remove_source
  end %>
  <%= image_tag(f.object.source.url) if f.object.source? %>
</div>
