<article>
  <header>
    <h1><%= t('.title') %></h1>
  </header>

  <%= render_list class: 'nav nav-tabs' do |li|
    li << [link_to(t('helpers.index'), creature_photos_path), { class: 'action' }]
    li << [link_to(t('helpers.show'), @creature_photo), { class: 'action' }]
  end %>

  <div>
    <%= simple_form_for @creature_photo, html: { class: 'form-horizontal' } do |f| %>
      <%= render 'form', f: f %>
      <div class="form-actions">
        <%= f.button :submit, name: nil, class: 'btn-primary' %>
      </div>
    <% end %>
  </div>

  <footer>
  </footer>
</article>
