<p>
  <b><%= Creature.human_attribute_name :popular_name %>:</b>
  <%= creature.popular_name %>
</p>

<p>
  <b><%= Creature.human_attribute_name :scientific_name %>:</b>
  <%= creature.scientific_name %>
</p>

<p>
  <b><%= Creature.human_attribute_name :place_of_origin %>:</b>
  <%= creature.place_of_origin %>
</p>

<p>
  <b><%= Creature.human_attribute_name :characteristic %>:</b>
  <%= creature.characteristic %>
</p>
