<%= f.error_notification %>

<div class="form-inputs">
  <%= f.input :popular_name %>
  <%= f.input :scientific_name %>
  <%= f.input :place_of_origin %>
  <%= f.input :characteristic, input_html: { size: '20x5' } %>
  <%= f.association :animal_handbooks, input_html: { class: 'chzn-select' } %>
</div>
